<!doctype html>
<html>

<head>
	<% include parts/head %>
</head>

<body>
	<h1 class="title">Peroxyde</h1>
	<h2 class="fancy cursive shadowed subtitle">
		100% Free online proxy
	</h2>
	<h3>Used <%= uses %> times since last reset!</h3>
	<h4>(Last reset was <%= lastReset.toLocaleTimeString() %> on <%= lastReset.toLocaleDateString() %>)</h4>
	<div class="isolated">
		<form action="/" method="GET">
			Site you want<br>
			<input name="s" type="url" title="Page to proxy a GET" required /><br>
			<input type="submit" value="Unblock!" title="your mom" />
		</form>
	</div>
	<p style="page-break-before: always"><br><br><br><br><br></p>
	<h2 class="fancy cursive shadowed subtitle">Why Peroxyde?</h2>
	<div class="text">
		<p>
			Most proxies nowadays ask for money in return for their service.
			As a kid without a debit or credit card, I find this extremely
			infuriating. That is why, I have made my own proxy that is 100%
			free. Any kids out there who need to bypass school filters can
			now get their content for free. Peroxyde will always be free,
			because it's made <i>by</i> kids, <i>for</i> kids. Greedy "Plans"
			and "Pricing" tabs will never be the first thing you see when you
			just want to play some <a href="https://coolmathgames.com">Coolmath-Games</a> at school.
		</p><p>
			I feel like the school system is too restrictive with technology.
			During the 3 days it took me to develop the base of this website,
			I have encountered many errors that could easily have been solved
			with Chrome DevTools (inspect element). However, the school's
			administrators decided it would be a GENIUS idea to block DevTools.
			Excuse me, WHAT!? Well, alright, I guess I can debug using
			<a href="javascript:alert('this is bs')" style="color: red" target="_self">
			alert()</a>. Progress was fine, until it wasn't. I soon realized how 
			incompetent the school's filtering AI was. Here's a small list of websites
			that shouldn't be blocked. Keep in mind that there are many more, but I
			don't remember most of them.</p>
			<ul>
				<li>Reddit (Staff allowed)</li>
				<li>Quora (wtf?)</li>
				<li><a href="https://www.youtube.com/watch?v=xj5PMy3xGXY">Just regular MUSIC!</a></li>
			</ul>
			<p>
			Now there are SOME filtered websites that I DO get. I'm not totally
			against school internet censorship. I understand that they put filters
			so we don't get distracted. Examples include:</p>
			<ul>
				<li><a href="javascript:alert('ur mom ge');" target="_self">this</a></li>
				<li><a href="https://www.youtube.com/watch?v=YuORiNhOoqo">even more of this</a></li>
				<li>and <a href="https://www.google.com/search?q=default+dance+bass+boosted&surl=1&safe=active&ssui=on">this mess</a> (first search result)</li>
				<li><a href="https://www.reddit.com/r/teenagers/comments/d1d64u/extreme_profanity_warning_some_users_may_find/">pinis</a></li>
			</ul>
		<p>
			But the pros don't even come CLOSE to the cons. Last year, they even blocked 
			<a href="https://repl.it/">THIS</a>! That's right. The school blocked the 
			ONE HIGH QUALITY IDE that you can use on Chromebooks without paying a cent to
			not be treated like a beggar. And don't even get me started on how bad the
			school Chromebooks are. You can't change most of the important settings, like 
			getting extensions (No more adblock). The school is forcing INSANE restrictions 
			on us, so I want to help my fellow students get around them.
		</p><p>
			If the school wanted to block games, well okay. Social media can be used for 
			research, but they blocked that too. Then they decided to block forums and
			user-generated answers. Well... that's a bit too far, but still okay. Then,
			some GENIUS decided that kids can't code at school, and turned off DevTools.
			What the |:oof:| is wrong with these people? Kids are 
			people too! The majority of us may not deserve games and social media 
			(honestly I would push MORE restrictions on those kids for other reasons), 
			but I think I speak for the rest of us when I say I'm sick of the school 
			assuming that all the students cause mischief. They want bad kids, they 
			get bad kids.
		</p>
	</div>
</body>

</html>