	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>.</title>
	<base target="_blank">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cinzel">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
	<link rel="stylesheet" href="css/deft.css" type="text/css">
	<script src="js/deft.js"></script>